<section id="rooms" class="rooms">
  <div class="btn-container">
    <button [routerLink]="['/new']" class="btn">Create a new reservation</button>
    <button [routerLink]="['/list']" class="btn">View all reservation</button>
  </div>
 <div class="cards-container">
  <div class="image-container">
    <img src="/assets/images/room1.jpg" alt="room_1" class="img"/>
    <div class="body-container">
      <h1>Lorem, ipsum dolor.</h1>
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
      <button class="btn-book-room">Book room</button>
    </div>
  </div>
  <div class="image-container">
    <img src="/assets/images/room2.jpg" alt="room_1" class="img"/>
    <div class="body-container">
      <h1>Lorem, ipsum dolor.</h1>
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
      <button class="btn-book-room">Book room</button>
    </div>
  </div>
 </div>
</section>
