<div class="list-container">
<h2>Your reservations</h2>
    <ul *ngIf="reservations.length; else noReservation">
        <li *ngFor="let reservation of reservations">
            Guest: {{reservation.name}} <br>
            Email: {{reservation.email}} <br>
            Room No.: {{reservation.roomNumber}} <br>   
            Check in date: {{reservation.checkInDate}} <br>
            Check out date: {{reservation.checkOutDate}} <br>
            <div class="btn-container">
                <button (click)="deleteReservation(reservation.id)"  class="btn">Delete</button>
            <button [routerLink] ="['/edit', reservation.id]" class="btn">Edit</button>
            </div>
        </li>
    </ul>

<ng-template #noReservation>
    <p>No reservations available.</p>
</ng-template>
</div>