<div class="aboutus-container">
    <div class="info-container">
        <div>
            <h1>About us</h1>
            <h5>At Ritz Sharlaton, we believe that your journey should be defined by the experiences you encounter. Located in the heart of the vibrant city, our hotel is a blend of sophistication, luxury, and comfort. We pride ourselves on offering an unforgettable stay, whether you're here for business or leisure.</h5>
        <h3>Our Story</h3>
            <h5>

            Ritz Sharlaton has been a symbol of elegance for over three decades. Our story began with a vision of providing guests with a luxurious and welcoming retreat from the bustle of city life. Over the years, we've continuously evolved to exceed expectations, offering modern amenities while preserving our classic charm.
            
           </h5>
           <h3>Luxurious Accommodations</h3>
           <h5> Step into our well-appointed rooms and suites, each designed to provide a peaceful sanctuary. Our spacious accommodations are tastefully decorated and equipped with all the comforts you desire. Enjoy stunning city views, plush bedding, and personalized services during your stay.</h5> 
        </div>
        <img src="../../../assets/images/room3.jpg" alt="room_3" width="650" height="400" class="img-about-us" />
    </div>
</div>

