<div class="footer">
  <div class="left-container">
    <h1>RITZ.</h1>
    <div class="icons-container">
      <mat-icon>facebook</mat-icon>
      <img
        src="/assets/icons/instagram.svg"
        style="background-color: white; height: 20px"
      />
      <img src="/assets/icons/linkedin.svg" style="height: 20px" />
    </div>
    <p>13.Rue des Beaux-Arts.75006 Paris, France</p>
    <p>+33 (0) 11 96 04 08</p>

    <p>© 2023 RITZ. All Rights Reserved.</p>
  </div>
  <div class="right-container">
    <div class="footer-links">
      <div class="column">
        <a href="">HOME PAGE</a>
        <a href="#rooms">ROOMS</a>
        <a href="/about">ABOUT US</a>
      </div>
      <div class="column">
        <a href="">CONTACT</a>
        <a href="">BOOKING</a>
        <a href="">TERMS&RIGHTS</a>
      </div>
    </div>
  </div>
</div>
